body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background: rgb(200, 200, 200);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 80px;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.food-pic {
  max-width: 250px;
}

.order-container {
  position: relative;
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.order-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.price-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
